@page "/todolist/{id}"
@inject ITodoService todoService

<PageTitle>@AppConfig.SiteTitle@(todoList != null ? $" - {todoList.Title}" : "")</PageTitle>

@if (todoList != null)
{
    @if (editingTitle)
    { 
        <EditForm Model="todoList" OnValidSubmit="SaveChangesToTitle">
            <InputText @bind-Value="todoList.Title" />
            <button type="submit" class="btn btn-success">
                <i class="bi bi-floppy-fill"></i>
            </button>
            <button type="button" @onclick="CancelEditingTitle" class="btn btn-primary">
                <i class="bi bi-chevron-left"></i>
            </button>
        </EditForm>
    }
    else
    { 
        <h3 @onclick="EditTitle">@todoList.Title</h3>
    }

    <p>
        <a href="/" class="btn btn-lg btn-primary">
            <i class="bi bi-chevron-left"></i>
            Tilbake
        </a>
        <button @onclick="AddItem" class="btn btn-lg btn-success">
            <i class="bi bi-plus"></i>
            Legg til oppgave
        </button>
    </p>

    @if (todoList.TodoItems.Count > 0)
    {
        <div class="container border border-dark">
        @foreach (var item in todoList.TodoItems)
        {
            @if (editingItem != null && item.Id == editingItem.Id)
            {
                <EditForm Model="editingItem" OnValidSubmit="SaveChangesToItem">
                    <div class="row py-1 priority-@((int)item.Priority) @(item.IsDone?" text-decoration-line-through":"")">
                        <div class="col">
                            <InputText @bind-Value="editingItem.Title" @onchange="ValidateItem" />
                        </div>
                        <div class="col">
                            <InputSelect @bind-Value="editingItem.Priority" class="form-select">
                                @foreach (PriorityEnum priValue in Enum.GetValues(typeof(PriorityEnum)))
                                {
                                    <option value="@priValue" class="priority-@((int)priValue)">
                                        @priValue.GetDescription()
                                    </option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col">
                            Fullført?
                            <InputCheckbox @bind-Value="editingItem.IsDone" />
                        </div>
                        <div class="col">
                            <button type="button" @onclick="CancelEditingItem" class="btn btn-primary">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                            <button type="submit" disabled="@(!editingItemIsValid)" class="btn btn-success">
                                <i class="bi bi-floppy-fill"></i>
                            </button>
                        </div>
                    </div> @* row *@
                </EditForm>
            }
            else
            {
                <div class="row py-1 priority-@((int)item.Priority) @(item.IsDone?" text-decoration-line-through":"")">
                    <div class="col-12" @onclick="(() => EditItem(item.Id.ToString()))">
                        @item.Title
                    </div>
                </div> // row
            }
        }
        </div> // container
    }
    else
    { 
        <p>Listen inneholder ingen gjøremål.</p>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger rounded p-3 my-3">
            @errorMessage
        </div>
    }
}
else
{ 
    <p>Leser data ...</p>
}

@code {
    private TodoList? todoList;
    private bool editingTitle;
    private string tempString = string.Empty;
    private TodoItem? editingItem;
    private bool editingItemIsValid = true;
    private string errorMessage = string.Empty;

    [Parameter]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            todoList = await todoService.GetTodoListByIdAsync(Id);
        }
        editingTitle = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        errorMessage = string.Empty;
    }

    private void EditTitle()
    {
        CheckIfEditingItem();
        editingTitle = true;
        tempString = todoList!.Title;
        editingItem = null;
    }

    private void CancelEditingTitle()
    {
        editingTitle = false;
        todoList!.Title = tempString;
    }

    private async Task SaveChangesToTitle()
    {
        if (string.IsNullOrEmpty(todoList!.Title))
        {
            errorMessage = "Tittel kan ikke være tom.";
            return;
        }

        if (await todoService.UpdateListTitleAsync(todoList!))
        {
            editingTitle = false;
        }
    }

    private void AddItem()
    {
        CheckIfEditingTitle();
        CheckIfEditingItem();
        if (todoList != null && editingItem == null)
        {
            editingItem = new TodoItem { 
                Id = Guid.Empty, // Midlertidig verdi for å skille mellom lagrede og ikke lagrede items
                TodoListId = todoList.Id
            };
            todoList.TodoItems.Insert(0, editingItem);
        }
    }

    private async Task EditItem(string id)
    {
        CheckIfEditingTitle();
        CheckIfEditingItem();
        editingItem = await todoService.GetTodoItemByIdAsync(id);
        tempString = editingItem!.Title;
        ValidateItem();
    }

    private void CancelEditingItem()
    {
        editingItem!.Title = tempString;
        editingItem = null;
        if (todoList!.TodoItems[0].Id == Guid.Empty)
        {
            todoList!.TodoItems.RemoveAt(0);
        }
    }

    private async Task SaveChangesToItem()
    {
        if (string.IsNullOrEmpty(editingItem!.Title))
        {
            errorMessage = "Oppgaven kan ikke være tom.";
            return;
        }

        await todoService.AddOrUpdateTodoItemAsync(editingItem!);

        editingItem = null;
    }

    private void ValidateItem()
    {
        editingItemIsValid = !string.IsNullOrEmpty(editingItem?.Title);
    }

    private void CheckIfEditingTitle()
    { 
        if (editingTitle)
        {
            editingTitle = false;
            todoList!.Title = tempString;
            tempString = string.Empty;
        }
    }

    private void CheckIfEditingItem()
    { 
        if (editingItem != null)
        {
            CancelEditingItem();
        }
    }
}
